<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wja.keren"
    >

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!--如果您的应用需要后台定位权限，且有可能运行在Android Q设备上,并且设置了target>28，必须增加这个权限声明-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_CONTACTS"
        tools:ignore="ScopedStorage" />

    <!--允许写设备缓存，用于问题排查-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:name="com.wja.keren.DemoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:roundIcon="@drawable/mian_card_green_bg"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name="com.wja.keren.user.home.SplashActivity"
            android:exported="true"
            android:theme="@style/LogoSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name="com.wja.keren.user.home.TwoSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.wja.keren.user.home.main.HomeTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.wja.keren.user.home.main.SelectRoleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.auth.BindPhoneCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.auth.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.wja.keren.user.home.auth.ForgetPassNextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.wja.keren.user.home.device.DeviceScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.wja.keren.user.home.mine.MineSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.wja.keren.user.home.mine.EditNickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.wja.keren.user.home.mine.SetLoginPassWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.EditPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity android:name="com.wja.keren.user.home.mine.EditPhoneSureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.CardSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.HelpAndServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.AiConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.wja.keren.user.home.mine.card.CardLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity android:name="com.wja.keren.user.home.mine.card.RunRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.RunNavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity android:name="com.wja.keren.user.home.mine.card.CardInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.CardNameEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity android:name="com.wja.keren.user.home.mine.card.FenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.wja.keren.user.home.mine.card.AddShareAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.UseCardShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.CardShareInviteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.CardShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.PhoneListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.HelpServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity android:name="com.wja.keren.user.home.mine.card.CardRunInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.MyTrafficActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.TrackDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.card.OnlineRepairActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.AboutMyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.device.ScanCodeResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity android:name="com.wja.keren.user.home.mine.AppInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.VoiceServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.VoiceSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.user.home.mine.LanguageSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name="com.wja.keren.zxing.CustomCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.htl.ipc.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a9f7013a220547c7fa23982bfaa54ded"/>

        <service android:name="com.amap.api.location.APSService"></service>


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Yz5LM6oBIOUyPWtM4rYvDeFVFNtP1ahl" />

        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
    </application>

</manifest>